* {
  font-family: 'Arial', sans-serif;
  line-height: 1.4em;
  color: rgb(50,50,50);
}

html, body, img, h1, div {
  font-size: 9pt;
  margin: 0px;
  border: none
}

#error-form,
#modal-form {
  background: rgba(255,255,255,0.9);
  color: white;
  padding: 15px;
  padding-top: 5px;
}

.volumeName {
  color: black;
}

.entitydrag {
  display: none;
  text-align: left;
  padding: 5px;
  margin: 1em 0;
  color: #555;
  border: 1px dotted rgb(255,255,255);
  border-radius: 3px;
  cursor: default;
}

.entitydrag.hover {
  border: 1px solid silver;
  background: rgba(0,0,0,0.05);
}

#upload_form {
  margin: auto;
  width: 98%;
}

.inode_menu {
  z-index:1000;
  position: absolute;
  width: 200px;
  background-color: rgba(255,255,255,0.9);
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 1px;
  border: 1px solid silver;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
}

.inode_menu li {
  padding-bottom: 4px;
  padding-top: 5px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  color: black
}

.inode_menu li:hover {
  cursor: pointer;
}

.inode_menu li.disabled,
.inode_menu li.disabled:hover {
  color: silver;
  cursor: default
}

.pwd {
  color: rgba(0,0,0,0.35);
  display: block;
  font-weight: bold;
  width: 95%;
}

.pwd span:hover {
  cursor: pointer
}

#file_manager {
  position: absolute;
  color: #272727;
  right: 32%;
  width: 67%;
  height: 100%;
  z-index: 0
}

#status {
  position: absolute;
  right: 0%;
  width: 30%;
  height: 100%;
  padding: 10px;
  z-index: 0
}

.actions ul, ul {
  padding: 0;
  list-style-type: none;
}

.actions ul li { display: inline; }

.actions ul li {
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
  color: white;
  background-color: black;
  border-radius: 1px;
}

.actions ul li#file_select_li,
.actions ul li#directory_select_li {
  padding-left: 0px;
  padding-right: 0px;
}

.actions ul li#file_select_li span,
.actions ul li#directory_select_li span {
  padding: 5px;
}

.actions ul li:hover {
  cursor: pointer;
}

.float_right li {
  float: right;
  margin-top: -5px;
  padding: 5px;
}

input[type="checkbox"] {
  vertical-align: bottom;
  top: 9px;
  position: relative
}

input[type="text"], input[type="password"], textarea {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 1px dotted silver;
  padding: 3px;
  padding-left: 3px;
  transition: border 0.3s
}

input[type="text"]:focus, textarea:focus { border: 1px dotted black }

::-webkit-input-placeholder { color: gray }
:-moz-placeholder { color: gray }
::-moz-placeholder { color: gray }
:-ms-input-placeholder { color: gray }

label.uploadLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.uploadLabel :valid + span { color: white }

.uploadLabel:hover { cursor: pointer }

input, textarea {
  margin-top: 10px;
  margin-bottom: 10px
}

legend { display: block }

fieldset.nested {
  margin: 0;
  padding: 0;
  display: block;
  clear: both
}

select {
  float: right;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/images/dropdown_menu.png) no-repeat;
  background-position: 220px 7px;
  width: 240px;
  text-indent: 0.01px;
  text-overflow: "";
  color: black
}

select:hover { cursor: pointer }

select::-ms-expand { display: none }

button {
  float: right;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
  color: white;
  background: black;
  border-radius: 1px;
}

button[disabled] {
  cursor: auto;
  background: rgb(160,160,160)
}

a#add_password,
a#remove_password,
a#change_password,
a#logout,
a#poweroff,
a#shellinabox {
  text-decoration: none;
  color: black;
}

a#add_password:hover,
a#remove_password:hover,
a#change_password:hover,
a#logout:hover,
a#poweroff:hover,
a#shellinabox:hover {
  color: gray;
}

fieldset { border: none }

.warning { font-weight: bold }

.inodes_selectable_container {
  display: block;
  padding: 0;
  border: none;
  width: 100%;
  height: 95%;
}

.inodes_table_container {
  display: block;
  padding-right: 25px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  height: 550px;
  overflow-y: auto;
}

table.inodes_table thead th {
  font-weight: bold;
}

table.inodes_table {
  width: 100%;
  position: relative;
  border: none;
  border-collapse: collapse;
  margin: 20px auto;
  margin-bottom: 30px
}

table.inodes_table td, table.inodes_table th {
  padding: 1px 4px;
  text-align: left
}

table.inodes_table tbody tr {
  border-top: 1px solid #eeeeee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table.inodes_table tr.details {
  border-top: 1px solid transparent;
  text-align: left;
  text-indent: 0px;
  padding-left: 10px;
  border-left: 20px solid transparent
}

table.inodes_table th { padding-bottom: 8px }

table.inodes_table tbody tr {
  padding: 2px;
  border-left: 2px solid transparent;
  text-decoration: none;
}

table.inodes_table tbody tr:hover,
table.inodes_table tbody tr.ui-selecting {
  background: rgba(0,0,0,0.05);
}

table.inodes_table tbody tr.ui-selected {
  background: rgba(0,0,0,0.2);
  color: white
}

h1 {
  text-align: right;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px
}

h1#interlock_version {
  text-align: left;
  float: left;
  color: gray;
}

h1#interlock_version span,
h1 {
  color: gray
}

#status h1 { margin: 0 }

#status ul#dynamic_status {
  padding-top: 5px;
  border-top: 1px solid rgba(0,0,0,0.15);
}

#status ul#uploads,
#status ul#notifications {
  list-style: none;
  padding-left: 0;
  background: rgba(255,255,255,0.4);
  overflow-y: auto;
  z-index: 0;
}

#status ul#uploads li,
#status ul#notifications {
  display: block;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 4px;
  color: gray;
}

#status ul#uploads li.progress,
#status ul#uploads li.success,
#status ul#uploads li.failure,
#status ul#notifications li {
  display: block;
  margin: 6px auto;
  color: white;
  font-weight: bold;
  width: 90%;
}

#status ul#uploads li.progress,
#status ul#notifications li {
  color: black;
  background: url(/images/progress_bar.png) no-repeat top left
}

#uploads li.success { background: rgba(0,0,0,0.3) none 0 0 no-repeat }

#uploads li.failure { background: rgb(0,0,0) none 0 0 no-repeat }

#status ul#uploads,
#status ul#notifications {
  display: block;
  height: 20%;
  overflow-y: auto
}

#status ul#logs {
  display: block;
  height: 29%;
  overflow-y: auto;
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none
}

#status ul#logs li {
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
  border-bottom: 1px solid rgba(0,0,0,0.08)
}

#status ul#notifications li {
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px
}

#status ul#logs li.severity_0,
#status ul#logs li.severity_1,
#status ul#logs li.severity_2,
#status ul#logs li.severity_3,
#status ul#logs li.severity_4 {
  background: rgba(0,0,0,0.05);
  color: black;
  font-weight: bold;
}

#status ul#notifications li span.timestamp,
#status ul#logs li span.timestamp {
  display: block;
  position: relative;
  bottom: 0px;
  text-align: right;
  font-size: 7pt;
  margin-top: -2px;
}

#status ul#notifications li span.timestamp { color: black }
#status ul#logs li span.timestamp { color: silver }

#status ul#logs li:before {
  border: 1px solid silver;
  display: block;
  position: relative;
}

#login_main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

#login_form {
  padding: 20px;
  background: white;
  margin: 15% auto;
  width: 50%;
  border: 1px solid rgb(240,240,240);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.8);
}

#login_form input[type="text"],
#login_form input[type="password"] {
  border: 1px dotted silver;
  width: 30%;
}

.ajax_loader {
  background: url("/images/loading_24px.gif") no-repeat center center transparent;
  width:100%;
  height:100%
}

.directory {
  font-weight: bold;
}

.directory:hover,
.file:hover {
  cursor: default
}

#logs,
.file,
.directory {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.indent {
  text-indent: 15px;
}

/* jQuery style override */
.ui-widget-overlay {
  opacity: 0.65;
  background: rgb(0,0,0);
}

.ui-dialog {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.8);
  border: 2px solid rgb(240,240,240)
}

.ui-widget-content {
  padding: 0;
  border: none;
}

.ui-widget-content input[type="checkbox"] {
  vertical-align: bottom;
  top: 9px;
  position: relative
}

.ui-widget-content input[type="text"],
.ui-widget-content input[type="password"],
.ui-widget-content textarea {
  display: inline-block;
  width: 100%;
  font-family: sans-serif;
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 1px dotted silver;
  padding: 3px;
  padding-left: 3px;
  transition: border 0.3s
}

.ui-widget-content textarea.key,
.file_contents,
.history_contents {
  font-family: monospace;
}

.history_contents {
  height: 333px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.ui-widget-content textarea.key::-webkit-input-placeholder { font-family: 'Arial', sans-serif }
.ui-widget-content textarea.key:-moz-placeholder { font-family: 'Arial', sans-serif }
.ui-widget-content textarea.key::-moz-placeholder { font-family: 'Arial', sans-serif }
.ui-widget-content textarea.key:-ms-input-placeholder { font-family: 'Arial', sans-serif }

.ui-widget-content input[type="text"]:focus { border: 1px dotted black }

::-webkit-input-placeholder { color: gray }
:-moz-placeholder { color: gray }
::-moz-placeholder { color: gray }
:-ms-input-placeholder { color: gray }

.ui-widget-content input {
  margin-top: 10px;
  margin-bottom: 10px
}

.ui-dialog-titlebar { background: transparent }
.ui-dialog-buttonplane { padding: 0px }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid transparent;
  background: transparent
}

.ui-state-active, .ui-state-focus {
  outline:none
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

button.ui-button span {
  float: right;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: white;
  background: black;
}

.ui-dialog-titlebar {
  background: rgba(0,0,0,0.07);
  color: black;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 15px
}

.ui-dialog-titlebar span {
  color: black;
  padding-bottom: 7px;
  padding-top: 7px
}

button.ui-dialog-titlebar-close { background: transparent}
button.ui-dialog-titlebar-close span.ui-button-icon-primary { background: url("/images/close_button.png") center center no-repeat }
button.ui-dialog-titlebar-close span.ui-button-text { display:none }

.ui-button-icon-only .ui-icon { margin-left: -20px; margin-top: -15px }

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 1px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 1px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 1px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 1px;
}

